<div class="modal" id="image-recognition-modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Image Recognition</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="image-recognition-message">
                    <i class="bi bi-check-circle-fill icon-success"></i>
                    <i class="bi bi-exclamation-triangle-fill icon-error"></i>
                    <span class="message"></span>
                </div>

                <section id="image-recognition-container">
                    <form id="image-recognition-form" action="#"
                        onsubmit="ImageRecognitionController.transcriptAudioHandler(event)">
                        <div class="header">
                            <h2>Image</h2>
                        </div>

                        <div class="upload-box">
                            <div class="upload-file active">
                                <div class="upload">
                                    <p>Drag & Drop</p>
                                    <span class="supported">MP3, WAV</span>
                                </div>
                                <p class="OR">— OR —</p>
                                <label class="browse-btn" for="image-file-input">
                                    <i class="bi bi-folder-plus"></i>
                                    <span>BROWSE FILES</span>
                                </label>
                                <input type="file" id="image-file-input" name="image-file" hidden
                                    accept=".bmp, .jpg, .png, .pbm, .webp"
                                    onchange="ImageRecognitionController.pickFile(this)" />
                            </div>
                            <div class="picked-image-file">
                                <div class="filename"></div>
                                <label class="change-file" for="image-file-input">
                                    <i class="bi bi-arrow-repeat"></i>
                                    <span>Change file</span>
                                </label>
                            </div>
                        </div>

                        <div class="language-select-container">
                            <label for="image-language-select">Image Language</label>
                            <select id="image-language-select" name="image-language">
                                <option value="vi">Vietnamese</option>
                                <option value="en" selected>English</option>
                                <option value="en-us" selected>English (US)</option>
                            </select>
                        </div>

                        <button type="submit" class="submit-btn">
                            <i class="bi bi-cloud-upload"></i>
                            <span>Transcribe</span>
                        </button>
                    </form>

                    <section id="transcription-result">
                        <div class="text-box" contenteditable>
                            Your transcription would be here...
                        </div>
                        <div class="actions">
                            <button class="action write"
                                onclick="ImageRecognitionController.handleTranscriptionActions('write')">
                                <i class="bi bi-pencil-square"></i>
                                <span>Write to note</span>
                            </button>
                            <button class="action copy"
                                onclick="ImageRecognitionController.handleTranscriptionActions('copy')">
                                <i class="bi bi-clipboard-check-fill"></i>
                                <span>Copy</span>
                            </button>
                        </div>
                    </section>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                    <%= t('home-page.settings.Close',i18nLang) %>
                </button>
            </div>
        </div>
    </div>
</div>