<div class="modal" id="image-recognition-modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Image Recognition</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="image-recognition-message">
                    <i class="bi bi-check-circle-fill icon-success"></i>
                    <i class="bi bi-exclamation-triangle-fill icon-error"></i>
                    <span class="message"></span>
                </div>

                <section id="image-recognition-container">
                    <form id="image-recognition-form" action="#"
                        onsubmit="ImageRecognitionController.recognizeImageHandler(event)">
                        <div class="header">
                            <h2 class="title">Image</h2>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" checked
                                    id="switch-recognition-input" name="switch-recognition"
                                    onchange="ImageRecognitionController.switchRecognition()" />
                                <label class="form-check-label" for="switch-recognition-input">
                                    Switch
                                </label>
                            </div>
                        </div>

                        <div class="upload-box active-upload-file">
                            <div class="upload-file">
                                <div class="upload">
                                    <p>Drag & Drop</p>
                                    <span class="supported">JPG, PNG, WEBP, BMP, PBM</span>
                                </div>
                                <p class="OR">— OR —</p>
                                <label class="browse-btn" for="image-file-input">
                                    <i class="bi bi-folder-plus"></i>
                                    <span>BROWSE FILE</span>
                                </label>
                                <input type="file" id="image-file-input" name="image-file" hidden
                                    accept=".bmp, .jpg, .png, .pbm, .webp"
                                    onchange="ImageRecognitionController.pickImages(this)" />
                            </div>
                            <div class="picked-image-file active-pre-recognition-img">
                                <h2 class="image-title">
                                    <i class="bi bi-file-earmark-image"></i>
                                    <span class="text"></span>
                                </h2>
                                <div id="pre-recognition-img"></div>
                                <div id="recognition-result-preview"></div>
                                <div id="recognition-result-popover" hidden>
                                    <span class="text"></span>
                                    <span class="close-btn"
                                        onclick="ImageRecognitionController.showPopoverOnSelectWord(true)">
                                        <i class="bi bi-x-circle-fill"></i>
                                    </span>
                                </div>
                                <div class="progress w-100 mt-3" role="progressbar">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                        style="width: 0%">0%</div>
                                </div>
                                <label class="change-file" for="image-file-input">
                                    <i class="bi bi-arrow-repeat"></i>
                                    <span>Change file</span>
                                </label>
                            </div>
                        </div>

                        <div class="langs-select-container">
                            <h2 class="title">Language for the above image</h2>
                            <div class="langs">
                                <div class="form-check">
                                    <input class="form-check-input" name="image-lang" type="checkbox" value="eng"
                                        id="image-lang-checkbox-eng" checked>
                                    <label class="form-check-label" for="image-lang-checkbox-eng">
                                        English
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="image-lang" type="checkbox" value="vie"
                                        id="image-lang-checkbox-vie">
                                    <label class="form-check-label" for="image-lang-checkbox-vie">
                                        Vietnamese
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="image-lang" type="checkbox" value="chi_sim"
                                        id="image-lang-checkbox-chi_sim">
                                    <label class="form-check-label" for="image-lang-checkbox-chi_sim">
                                        Chinese - Simplified
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="image-lang" type="checkbox" value="jpn"
                                        id="image-lang-checkbox-jpn">
                                    <label class="form-check-label" for="image-lang-checkbox-jpn">
                                        Japanese
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="image-lang" type="checkbox" value="kor"
                                        id="image-lang-checkbox-kor">
                                    <label class="form-check-label" for="image-lang-checkbox-kor">
                                        Korean
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="image-lang" type="checkbox" value="tha"
                                        id="image-lang-checkbox-tha">
                                    <label class="form-check-label" for="image-lang-checkbox-tha">
                                        Thai
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="submit-btn">
                            <i class="bi bi-cloud-upload"></i>
                            <span>Recognize</span>
                        </button>
                    </form>

                    <section class="transcription-result">
                        <h2 class="title">Transcription result</h2>
                        <div class="text-box" contenteditable>Your transcription would be here...</div>
                        <div class="actions">
                            <button class="action write"
                                onclick="ImageRecognitionController.handleTranscriptionActions('write')">
                                <i class="bi bi-pencil-square"></i>
                                <span>Write to note</span>
                            </button>
                            <button class="action copy"
                                onclick="ImageRecognitionController.handleTranscriptionActions('copy')">
                                <i class="bi bi-clipboard-check-fill"></i>
                                <span>Copy</span>
                            </button>
                        </div>
                    </section>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                    <%= t('home-page.settings.Close',i18nLang) %>
                </button>
            </div>
        </div>
    </div>
</div>