<main id="page-main">
    <section class="user-actions">
        <button class="user-action add-password">Add Password</button>
    </section>

    <section class="notes">
        <section class="note-container">
            <div class="note-editor-title">
                <input type="text" />
            </div>
            <div class="note-editor-container">
                <div class="note-editor-wrapper">
                    <textarea class="note-editor"></textarea>
                </div>
                <div class="useful-actions">
                    <button class="action">Clipboard Paste</button>
                    <button class="action">Copy All</button>
                </div>
            </div>
        </section>
    </section>

    <section class="bottom-actions">
        <button class="bottom-action add-note">Add Note</button>
    </section>
</main>
