<div class="modal" id="transcript-audio-modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Transcribe Audio</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="transcribe-audio-container">
                    <section id="transcribe-audio">
                        <div class="header">
                            <h2>Audio / Video File</h2>
                        </div>
                        <div class="upload-box">
                            <div class="upload">
                                <p>Drag & Drop</p>
                                <span class="supported">MP3, MP4, M4A, WAV, WebM</span>
                            </div>
                            <p class="OR">— OR —</p>
                            <label class="browse-btn" for="audio-file-input">BROWSE FILES</label>
                            <input type="file" id="audio-file-input"
                                onchange="TranscriptAudioController.transcriptAudioHandler(this)" hidden
                                accept=".mp3, .mp4, .m4a, .wav, .webm" />
                        </div>
                        <div class="language-select-container">
                            <label for="audio-language">Audio Language</label>
                            <select id="audio-language">
                                <option value="vietnamese">Vietnamese</option>
                                <option value="english" selected>English</option>
                            </select>
                        </div>
                    </section>
                    <section id="transcription-result">
                        <div class="text"></div>
                    </section>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                    <%= t('home-page.settings.Close',i18nLang) %>
                </button>
            </div>
        </div>
    </div>
</div>