<div class="modal" id="note-settings-modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5"><%= t('home-page.settings.Settings',i18nLang) %></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="transcription-container">
                    <input type="file" accept=".mp3" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                    <%= t('home-page.settings.Close',i18nLang) %>
                </button>
            </div>
        </div>
    </div>
</div>