<div class="modal" id="transcript-audio-modal" tabindex="-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">Transcribe Audio</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="transcribe-audio-container">
                    <form id="transcribe-audio-form">
                        <div class="header">
                            <h2>Audio / Video File</h2>
                        </div>
                        <div class="upload-box">
                            <div class="upload">
                                <p>Drag & Drop</p>
                                <span class="supported">MP3, WAV</span>
                            </div>
                            <p class="OR">— OR —</p>
                            <label class="browse-btn" for="audio-file-input">BROWSE FILES</label>
                            <input type="file" id="audio-file-input" name="audio-file"
                                onchange="TranscriptAudioController.transcriptAudioHandler()" hidden
                                accept=".mp3, .wav" />
                        </div>
                        <div class="language-select-container">
                            <label for="audio-language-select">Audio Language</label>
                            <select id="audio-language-select" name="audio-language">
                                <option value="vi">Vietnamese</option>
                                <option value="en" selected>English</option>
                                <option value="en-us" selected>English (US)</option>
                            </select>
                        </div>
                    </form>
                    <section id="transcription-result">
                        <div class="text-box">
                            Your transcription would be here...
                        </div>
                        <div class="message">Your audio is wrong!!!</div>
                        <div class="actions">
                            <button class="action write">
                                <i class="bi bi-pencil-square"></i>
                                <span>Write to note</span>
                            </button>
                            <button class="action copy">
                                <i class="bi bi-clipboard-check-fill"></i>
                                <span>Copy</span>
                            </button>
                        </div>
                    </section>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close-btn" data-bs-dismiss="modal">
                    <%= t('home-page.settings.Close',i18nLang) %>
                </button>
            </div>
        </div>
    </div>
</div>