#image-recognition-message {
    display: none;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    column-gap: 5px;
    line-height: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
}
#image-recognition-message i {
    color: inherit;
    font-size: inherit;
}
#image-recognition-message.active {
    display: flex;
}
#image-recognition-message.success {
    color: #13a765;
    background-color: #d0ffea;
}
#image-recognition-message.error {
    color: #ff2424;
    background-color: #ffdddd;
}

#image-recognition-container {
    display: flex;
    column-gap: 50px;
    position: relative;
    flex-direction: column;
    align-items: center;
}
#image-recognition-container .transcription-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
#image-recognition-container .transcription-result .text-box {
    border: 1px lightgray solid;
    border-radius: 5px;
    max-height: 1000px;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
    min-height: 200px;
}
#image-recognition-container .transcription-result .text-box .spinner {
    height: 24px;
    width: 24px;
}
#image-recognition-container .transcription-result .text-box.loading {
    display: flex;
    justify-content: center;
}
#image-recognition-container .transcription-result .actions {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    width: 100%;
}
#image-recognition-container .transcription-result .actions .action {
    display: flex;
    column-gap: 5px;
    align-items: center;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 0.9rem;
    background-color: #333;
    color: #fff;
    border: 2px #333 solid;
}
#image-recognition-container .transcription-result .actions .action i {
    color: inherit;
}
#image-recognition-container .transcription-result .actions .action:hover {
    background-color: #fff;
    color: #333;
}

#image-recognition-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}
#image-recognition-form .header {
    display: flex;
    align-items: center;
    width: 100%;
}
#image-recognition-form .header h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}
#image-recognition-form .upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}
#image-recognition-form .upload-box .spinner {
    height: 25px;
    width: 25px;
}
#image-recognition-form .upload-box .upload-file {
    display: none;
    width: 100%;
}
#image-recognition-form .upload-box .upload-file.active {
    display: block;
}
#image-recognition-form .upload-box .upload-file .upload {
    border: 2px dashed gray;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #555;
}
#image-recognition-form .upload-box .upload-file .upload p {
    margin: 0;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 16px;
}
#image-recognition-form .upload-box .upload-file .upload .supported {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #696969;
}
#image-recognition-form .upload-box .upload-file .OR {
    margin-bottom: 3px;
}
#image-recognition-form .upload-box .upload-file .browse-btn {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: 2.5px solid #333;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
}
#image-recognition-form .upload-box .upload-file .browse-btn i {
    color: inherit;
    font-size: inherit;
}
#image-recognition-form .upload-box .upload-file .browse-btn:hover {
    background-color: #fff;
    color: #333;
}
#image-recognition-form .upload-box .picked-image-files {
    display: none;
    width: 100%;
}
#image-recognition-form .upload-box .picked-image-files.active {
    display: block;
}
#image-recognition-form .upload-box .picked-image-files .images-preview {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#image-recognition-form .upload-box .picked-image-files .change-file {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #333;
    border: 2px #333 solid;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
#image-recognition-form .upload-box .picked-image-files .change-file i {
    color: inherit;
}
#image-recognition-form .upload-box .picked-image-files .change-file:hover {
    background-color: #fff;
    color: #333;
}
#image-recognition-form .langs-select-container {
    margin-top: 20px;
    width: 100%;
}
#image-recognition-form .langs-select-container .langs-title {
    font-weight: bold;
    font-size: 1rem;
    padding-left: 10px;
}
#image-recognition-form .langs-select-container .langs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    padding: 10px;
}
#image-recognition-form .langs-select-container .langs .form-check .form-check-input {
    border-color: #333;
}
#image-recognition-form .langs-select-container .langs .form-check .form-check-input:checked {
    background-color: #333;
}
#image-recognition-form .langs-select-container .langs .form-check .form-check-label {
    padding-left: 0;
}
#image-recognition-form .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin-top: 20px;
    width: 100%;
    padding: 5px 20px;
    background-color: #333;
    border-radius: 5px;
    border: 2px #333 solid;
    color: #fff;
}
#image-recognition-form .submit-btn i {
    color: inherit;
    font-size: inherit;
}
#image-recognition-form .submit-btn .spinner {
    height: 24px;
    width: 24px;
}
#image-recognition-form .submit-btn:hover {
    background-color: #fff;
    color: #333;
}

#images-preview-slider .slide-images .carousel-item {
    overflow: auto;
}
#images-preview-slider .slide-images .carousel-item .slide-title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#images-preview-slider .slide-images .carousel-item .slide-title i {
    font-size: inherit;
}
#images-preview-slider .slide-images .carousel-item img {
    width: auto;
    height: 300px;
}
#images-preview-slider .control-icon {
    font-size: 2.5rem;
}
#images-preview-slider .carousel-control-prev,
#images-preview-slider .carousel-control-next {
    width: initial;
}
#images-preview-slider .carousel-control-prev .carousel-control-prev-icon {
    background: none;
}
#images-preview-slider .carousel-control-next .carousel-control-next-icon {
    background: none;
}

/*# sourceMappingURL=image-regconition.css.map */
