/* @rules
normal - regular
bold - bold
500 - medium
300 - light
100 - thin
*/
/* =================================================== */
/* ==================== Poppins ====================== */
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Work Sans ==================== */
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Roboto ==================== */
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
:root {
    --mmn-note-form-fonf: text-fonts.$mmn-work-sans-fontf;
}

#page-main .note-quick-look {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding: 0 50px;
}
#page-main .note-quick-look .quick-look-items {
    display: flex;
    column-gap: 10px;
    padding: 0;
}
#page-main .note-quick-look .quick-look-items .quick-look-item {
    display: flex;
    align-items: center;
    height: var(--mmn-quick-look-icon-initial-size);
    width: var(--mmn-quick-look-icon-initial-size);
    overflow: hidden;
    padding: 6px;
    transition: width 0.25s cubic-bezier(0.65, 0, 0.076, 1);
    column-gap: 5px;
}
#page-main .note-quick-look .quick-look-items .quick-look-item i {
    font-size: 1.1rem;
}
#page-main .note-quick-look .quick-look-items .quick-look-item .text {
    display: block;
    width: max-content;
    color: #fff;
    white-space: nowrap;
    font-size: 0.9rem;
}
#page-main .note-quick-look .quick-look-items .quick-look-item.password-set {
    background-color: #ff2424;
    border-radius: 1.6rem;
}
#page-main .note-quick-look .quick-look-items .quick-look-item.password-set i {
    color: #fff;
}
#page-main .note-form {
    padding: 0 130px;
    margin-top: 15px;
}
#page-main .note-form .note-form-item {
    font-size: 1rem;
    position: relative;
}
#page-main .note-form .note-form-item::before,
#page-main .note-form .note-form-item::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 2;
}
#page-main .note-form .note-form-item::before {
    border-right: 1px #909090 solid;
    border-bottom: 1px #909090 solid;
    top: 0;
    right: 0;
}
#page-main .note-form .note-form-item::after {
    border-top: 1px #909090 solid;
    border-left: 1px #909090 solid;
    bottom: 0;
    left: 0;
}
#page-main .note-form .note-form-item.notify-note-edited.slither::before,
#page-main .note-form .note-form-item.notify-note-edited.slither::after {
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
#page-main .note-form .note-form-item.notify-note-edited.slither::before {
    animation-name: notify-slither-note-edited-before;
}
#page-main .note-form .note-form-item.notify-note-edited.slither::after {
    animation-name: notify-slither-note-edited-after;
}
#page-main .note-form .note-form-item.notify-note-edited.blink {
    outline: 1px #909090 solid;
    animation-name: notify-blink-note-edited;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#page-main .note-form .note-form-item .note-annotation {
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translate(0, -50%);
    border-right: 3px #a5a5a5 solid;
    padding-right: 8px;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.15s;
    width: max-content;
    max-width: 100px;
    text-align: right;
}
#page-main .note-form .note-form-item.note-title input {
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    z-index: 3;
    line-height: 1rem;
    font-family: var(--mmn-note-form-fonf);
}
#page-main .note-form .note-form-item.note-title input::placeholder {
    color: #909090;
}
#page-main .note-form .note-form-item.note-title input:focus ~ .note-annotation {
    opacity: 1;
}
#page-main .note-form .note-form-item.note-author {
    margin-top: 5px;
}
#page-main .note-form .note-form-item.note-author input {
    background-color: transparent;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 0.95em;
    font-weight: normal;
    position: relative;
    z-index: 3;
    line-height: 1rem;
    font-family: var(--mmn-note-form-fonf);
}
#page-main .note-form .note-form-item.note-author input::placeholder {
    color: #909090;
}
#page-main .note-form .note-form-item.note-author input:focus ~ .note-annotation {
    opacity: 1;
}
#page-main .note-form .note-form-item.note-editor-board {
    margin-top: 15px;
}
#page-main .note-form .note-form-item.note-editor-board .note-editor-section {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 5px 10px;
}
#page-main .note-form .note-form-item.note-editor-board .note-editor-section.active {
    display: block;
}
#page-main .note-form .note-form-item.note-editor-board .note-editor-section .note-editor-wrapper {
    display: grid;
    overflow-y: auto;
}
#page-main
    .note-form
    .note-form-item.note-editor-board
    .note-editor-section
    .note-editor-wrapper
    .note-annotation {
    top: 5px;
    transform: translate(0, 0);
}
#page-main
    .note-form
    .note-form-item.note-editor-board
    .note-editor-section
    .note-editor-wrapper::after,
#page-main
    .note-form
    .note-form-item.note-editor-board
    .note-editor-section
    .note-editor-wrapper
    .note-editor {
    grid-area: 1/1/2/2;
    width: 100%;
    font-family: var(--mmn-note-form-fonf);
    font-size: 1.05em;
}
#page-main
    .note-form
    .note-form-item.note-editor-board
    .note-editor-section
    .note-editor-wrapper
    .note-editor {
    background-color: transparent;
    resize: none;
    overflow: hidden;
    padding: 0;
}
#page-main
    .note-form
    .note-form-item.note-editor-board
    .note-editor-section
    .note-editor-wrapper
    .note-editor:focus
    ~ .note-annotation {
    opacity: 1;
}
#page-main
    .note-form
    .note-form-item.note-editor-board
    .note-editor-section
    .note-editor-wrapper::after {
    content: attr(data-replicated-value) ' ';
    white-space: pre-wrap;
    visibility: hidden;
}
#page-main .note-form .note-form-item.note-editor-board .note-editor-section .letters-count {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #595959;
    line-height: 1;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#page-main .note-form .note-form-item.note-editor-board .under-section {
    display: flex;
    justify-content: space-between;
    top: 15px;
    margin-top: 15px;
}
#page-main .note-form .note-form-item.note-editor-board .useful-note-actions {
    display: flex;
    column-gap: 5px;
    width: 100%;
    margin-top: 15px;
}
#page-main .note-form .note-form-item.note-editor-board .useful-note-actions .action {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #18181b;
    padding: 4px 9px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    border: 2px #18181b solid;
}
#page-main .note-form .note-form-item.note-editor-board .useful-note-actions .action i {
    font-size: 0.9rem;
    color: inherit;
}
@media only screen and (max-width: 700px) {
    #page-main .note-quick-look {
        padding: 0 15px;
    }
    #page-main .note-form {
        padding: 0 5px;
    }
    #page-main .note-form .note-form-item {
        font-size: 0.9rem;
    }
    #page-main .note-form .note-form-item .note-annotation {
        display: none;
    }
}

#publish-article-submit-btn {
    display: none;
    justify-content: center;
    align-items: center;
    border: 2.5px #333 solid;
    border-radius: 20px;
    padding: 3px 50px;
    font-weight: bold;
    background-color: transparent;
}
#publish-article-submit-btn.active {
    display: flex;
}
#publish-article-submit-btn:hover {
    background-color: #333;
    color: #fff;
}
#publish-article-submit-btn .spinner {
    height: 20px;
    width: 20px;
}
#publish-article-submit-btn.loading {
    opacity: 0.4;
    pointer-events: none;
    padding: 5px 20px;
}

#rich-editor-section .actions {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}
#rich-editor-section .actions .action-btn {
    display: flex;
    align-items: center;
    column-gap: 7px;
    border-radius: 5px;
    border: 1px lightgray solid;
    background-color: #fff;
    padding: 3px 10px;
    font-size: 0.9rem;
    font-weight: 500;
}
#rich-editor-section .actions .action-btn i {
    font-size: 0.9rem;
}
#rich-editor-section .actions .action-btn:hover {
    background-color: #e5e5e5;
}
#rich-editor-section .actions .action-btn.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
#rich-editor-section .actions .action-btn.active i {
    color: #fff;
}
#rich-editor-section .rich-editor-mode {
    display: none;
}
#rich-editor-section .rich-editor-mode.active {
    display: block;
}
#rich-editor-section .rich-editor-mode.edit-mode {
    position: relative;
}
#rich-editor-section .rich-editor-mode.view-mode {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
}

@keyframes notify-blink-note-edited {
    0% {
        outline-color: transparent;
    }
    100% {
        outline-color: #909090;
    }
}
@keyframes notify-slither-note-edited-before {
    0% {
        height: 0;
        width: 0;
    }
    8% {
        height: 100%;
        width: 0;
    }
    25% {
        height: 100%;
        width: 100%;
    }
    50% {
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
    }
    58% {
        height: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
    }
    75% {
        height: 0;
        width: 0;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
    }
    100% {
        height: 0;
        width: 0;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
    }
}
@keyframes notify-slither-note-edited-after {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 0;
    }
    33% {
        height: 100%;
        width: 0;
    }
    50% {
        height: 100%;
        width: 100%;
    }
    75% {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
    }
    83% {
        height: 0;
        width: 100%;
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
    }
    100% {
        height: 0;
        width: 0;
        top: 0;
        right: 0;
        bottom: unset;
        left: unset;
    }
}

/*# sourceMappingURL=notes.css.map */
