/* @rules
normal - regular
bold - bold
500 - medium
300 - light
100 - thin
*/
/* =================================================== */
/* ==================== Poppins ====================== */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Work Sans ==================== */
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Roboto ==================== */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto light';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

div,
a,
p,
button,
input,
section,
textarea {
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: normal;
    outline: none;
}

input,
textarea {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

i {
    display: flex;
    color: #333;
    font-size: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#page-main {
    box-sizing: border-box;
}

#general-app-status i {
    font-size: 1.4rem;
}
#general-app-status i.success-icon {
    color: #00dba0;
}
#general-app-status i.error-icon {
    color: #ff2424;
}
#general-app-status.inactive {
    display: none;
}

#page-header {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
    border-bottom: 1px #e6e6e6 solid;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
}
#page-header .app-logo-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
#page-header .app-logo-container .app-logo-wrapper {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
#page-header .app-logo-container .app-logo-wrapper .app-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #18181b;
}
#page-header .right-side-menu {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
#page-header .right-side-menu .menu-item {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
    position: relative;
    color: #18181b;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}
#page-header .right-side-menu .menu-item::after {
    content: '';
    position: absolute;
    border-top: 3px #18181b solid;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.15s;
}
#page-header .right-side-menu .menu-item:hover::after {
    transform: scaleX(1);
}
#page-header .right-side-menu .menu-item.realtime-mode-display {
    display: none;
    cursor: initial;
}
#page-header .right-side-menu .menu-item.realtime-mode-display .display-icon {
    margin: auto;
}
#page-header .right-side-menu .menu-item.realtime-mode-display .display-icon i {
    font-size: 1.5rem;
}
#page-header .right-side-menu .menu-item.realtime-mode-display::after {
    display: none;
}
#page-header .right-side-menu .menu-item.realtime-mode-display.active {
    display: flex;
}
#page-header .right-side-menu .menu-item.realtime-mode-display.active .display-icon {
    animation: realtime-mode-display 2s infinite forwards linear;
}
#page-header .right-side-menu .menu-item.notification .notification-icon-wrapper {
    position: relative;
}
#page-header .right-side-menu .menu-item.notification .notification-icon-wrapper .badge {
    padding: 3px 6px;
    background-color: #909090 !important;
}
#page-header .right-side-menu .menu-item.notification .notification-icon-wrapper i {
    font-size: 1.2rem;
}

#app-toaster {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: fixed;
    bottom: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: none;
    z-index: 1060;
    cursor: pointer;
    overflow: hidden;
    left: 20px;
    width: 250px;
    max-height: 150px;
    transform: translateX(calc(-100% - 20px - 5px));
}
#app-toaster .text-content {
    font-size: 0.95rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
#app-toaster .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #909090;
}
#app-toaster .close-btn i {
    color: inherit;
    font-size: 12px;
}
#app-toaster .close-btn:hover {
    color: #fff;
}
#app-toaster .progress-container {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#app-toaster .progress-container .progress-bar {
    width: 0;
    height: 100%;
    background-color: #fff;
}
#app-toaster .progress-container .progress-bar.running-a {
    animation-name: progress-bar-running-a;
    animation-timing-function: linear;
}
#app-toaster .progress-container .progress-bar.running-b {
    animation-name: progress-bar-running-b;
    animation-timing-function: linear;
}
#app-toaster .icon-type i.success-icon {
    color: #13a765;
}
#app-toaster .icon-type i.error-icon {
    color: #ff2424;
}
#app-toaster .icon-type i.info-icon {
    color: #fff;
}
#app-toaster.error .progress-container .progress-bar {
    background-color: #ff2424;
}
#app-toaster.success .progress-container .progress-bar {
    background-color: #13a765;
}
#app-toaster:hover {
    transform: translateX(0);
}
#app-toaster.show-a {
    animation-name: slide-app-toaster-a;
    animation-timing-function: ease-out;
}
#app-toaster.show-b {
    animation-name: slide-app-toaster-b;
    animation-timing-function: ease-out;
}
#app-toaster.clicked {
    transform: translateX(calc(-100% - 20px - 5px));
    animation: none;
}

@keyframes slide-app-toaster-a {
    0% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
}
@keyframes slide-app-toaster-b {
    0% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
}
@keyframes progress-bar-running-a {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@keyframes progress-bar-running-b {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@keyframes realtime-mode-display {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/*# sourceMappingURL=global.css.map */
