/* @rules
normal - regular
bold - bold
500 - medium
300 - light
100 - thin
*/
/* =================================================== */
/* ==================== Poppins ====================== */
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Work Sans ==================== */
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Roboto ==================== */
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
:root {
    --mmn-blender-transition-duration: 0.5s;
    --mmn-mix-blend-mode-reversed: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

div,
a,
p,
button,
input,
section,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
    font-weight: normal;
    outline: none;
}

input,
textarea {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

i {
    display: flex;
    color: #333;
    font-size: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.tab-navigator .nav-destination {
    display: none;
}
.tab-navigator .nav-destination.active {
    display: initial;
}

#page-main {
    box-sizing: border-box;
}

#general-app-status {
    display: none;
    mix-blend-mode: var(--mmn-mix-blend-mode-reversed);
}
#general-app-status i {
    font-size: 1.4rem;
}
#general-app-status i.success-icon {
    color: #00dba0;
}
#general-app-status i.error-icon {
    color: #ff2424;
}
#general-app-status .spinner {
    height: 1.4rem;
    width: 1.4rem;
}
#general-app-status.active {
    display: block;
}

#nav-bar {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
    border-bottom: 1px #e6e6e6 solid;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: #fff;
}
#nav-bar.pos-sticky {
    position: sticky;
}
#nav-bar.pos-static {
    position: static;
}
#nav-bar .app-logo-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
#nav-bar .app-logo-container .app-logo-wrapper {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
#nav-bar .app-logo-container .app-logo-wrapper .app-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #18181b;
}
#nav-bar .right-side-menu {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
#nav-bar .right-side-menu .menu-item {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
    position: relative;
    color: #18181b;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}
#nav-bar .right-side-menu .menu-item::after {
    content: '';
    position: absolute;
    border-top: 3px #18181b solid;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.15s;
}
#nav-bar .right-side-menu .menu-item:hover::after {
    transform: scaleX(1);
}
#nav-bar .right-side-menu .menu-item.realtime-mode-display {
    display: none;
    cursor: initial;
}
#nav-bar .right-side-menu .menu-item.realtime-mode-display .display-icon {
    margin: auto;
}
#nav-bar .right-side-menu .menu-item.realtime-mode-display .display-icon i {
    font-size: 1.5rem;
}
#nav-bar .right-side-menu .menu-item.realtime-mode-display::after {
    display: none;
}
#nav-bar .right-side-menu .menu-item.realtime-mode-display.active {
    display: flex;
}
#nav-bar .right-side-menu .menu-item.realtime-mode-display.active .display-icon {
    animation: realtime-mode-display 2s infinite forwards linear;
}
#nav-bar .right-side-menu .menu-item.notification {
    position: relative;
    padding: 0;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn {
    display: flex;
    padding: 0;
    background-color: transparent;
    height: 100%;
    padding: 0 10px;
    transition: transform 0.5s;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn .icon-wrapper {
    margin: auto;
    position: relative;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn .icon-wrapper .badge {
    padding: 3px 6px;
    background-color: #909090 !important;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn .icon-wrapper .badge.active {
    background-color: #ff2424 !important;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn .icon-wrapper i {
    font-size: 1.2rem;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn.on-ring-a {
    animation-name: ring-notification-a;
}
#nav-bar .right-side-menu .menu-item.notification .notification-btn.on-ring-b {
    animation-name: ring-notification-b;
}

#notifs-board {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    box-shadow: 0 0 10px 0px lightgray;
    background-color: #fff;
    width: 350px;
    height: calc(100vh - 60px - 5px - 30px);
    min-width: 300px;
    cursor: auto;
    z-index: 200;
}
#notifs-board.active {
    display: block;
}
#notifs-board .notifs-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.278);
}
#notifs-board .notifs-content {
    height: 100%;
    position: relative;
    z-index: 202;
    background-color: #fff;
    border-radius: 5px;
}
#notifs-board .notifs-content .close-btn {
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    border-radius: 50%;
    transition: transform 0.2s;
    cursor: pointer;
}
#notifs-board .notifs-content .close-btn i {
    font-size: 1.7rem;
    color: #fff;
}
#notifs-board .notifs-content .close-btn:hover {
    transform: scale(1.1);
}
#notifs-board .notifs-content .title-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    column-gap: 20px;
}
#notifs-board .notifs-content .title-box .title {
    font-size: 1.1rem;
    font-weight: bold;
}
#notifs-board .notifs-content .title-box .details-btn {
    display: block;
    transition: transform 0.2s;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
#notifs-board .notifs-content .title-box .details-btn:hover {
    transform: scale(1.2);
}
#notifs-board .notifs-content .nav-tabs-list {
    display: flex;
    border-bottom: 2px rgba(211, 211, 211, 0.4) solid;
    padding: 0 35px;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 5px 15px;
    font-size: 0.9rem;
    background-color: transparent;
    position: relative;
    opacity: 0.6;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab .count {
    padding: 0px 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: lightgray;
    color: #333;
    font-weight: normal;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab::after {
    content: '';
    display: none;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab:hover {
    background-color: rgba(211, 211, 211, 0.49);
    opacity: 1;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab.active {
    font-weight: bold;
    opacity: 1;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab.active .count {
    background-color: #333;
    color: #fff;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab.active::after {
    display: block;
}
#notifs-board .notifs-content .notifs-scroller {
    display: none;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px - 5px - 30px - 90px);
    overflow-y: auto;
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar {
    background-color: transparent;
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.333);
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 10px;
}
#notifs-board .notifs-content .notifs-scroller:hover::-webkit-scrollbar-thumb {
    background-color: #999999;
}
#notifs-board .notifs-content .notifs-scroller.active {
    display: flex;
}
#notifs-board .notifs-content .notifs-scroller .notifs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#notifs-board .notifs-content .notifs-scroller .notifs .spinner {
    margin: 0 auto;
    margin-top: 30px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .empty-message,
#notifs-board .notifs-content .notifs-scroller .notifs .error-message {
    font-size: 1rem;
    width: 100%;
    padding: 0 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .empty-message i,
#notifs-board .notifs-content .notifs-scroller .notifs .error-message i {
    color: inherit;
}
#notifs-board .notifs-content .notifs-scroller .notifs .empty-message {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .error-message {
    color: #ff2424;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif {
    width: 100%;
    padding: 0 35px;
    background-color: #fff;
    cursor: pointer;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif:not(:nth-of-type(1)) .notif-content {
    border-top: 1px lightgray solid;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif.is-new {
    background-color: rgba(255, 214, 101, 0.2);
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content {
    padding: 10px 0 15px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content .title {
    font-size: 0.9rem;
    width: 100%;
    font-weight: 500;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content .time-ago {
    font-size: 0.85rem;
    color: #909090;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content .notif-type {
    background-color: #333;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 0.85rem;
}
#notifs-board .notifs-content .notifs-scroller .notifs:hover .notif {
    opacity: 0.5;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif:hover {
    opacity: 1;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif:hover .title {
    font-weight: bold;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn {
    display: none;
    justify-content: center;
    font-size: 0.9rem;
    margin: 10px 0 5px;
    transition: transform 0.2s;
    color: #e68500;
    cursor: pointer;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn .spinner {
    height: 20px;
    width: 20px;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn:hover {
    text-decoration: underline;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn:active {
    transform: scale(0.9);
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.error,
#notifs-board .notifs-content .notifs-scroller .load-more-btn.info {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    cursor: auto;
    pointer-events: none;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.error {
    color: #ff2424;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.info {
    color: #909090;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.active {
    display: flex;
}

#app-toaster {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: fixed;
    bottom: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: none;
    z-index: 1090;
    cursor: pointer;
    overflow: hidden;
    left: 20px;
    width: 250px;
    max-height: 150px;
    transform: translateX(calc(-100% - 20px - 5px));
    animation-timing-function: ease-out;
}
#app-toaster .text-content {
    font-size: 0.95rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
#app-toaster .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #909090;
}
#app-toaster .close-btn i {
    color: inherit;
    font-size: 12px;
}
#app-toaster .close-btn:hover {
    color: #fff;
}
#app-toaster .progress-container {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#app-toaster .progress-container .progress-bar {
    width: 0;
    height: 100%;
    background-color: #fff;
    animation-timing-function: linear;
}
#app-toaster .progress-container .progress-bar.running-a {
    animation-name: progress-bar-running-a;
}
#app-toaster .progress-container .progress-bar.running-b {
    animation-name: progress-bar-running-b;
}
#app-toaster .icon-type i.success-icon {
    color: #13a765;
}
#app-toaster .icon-type i.error-icon {
    color: #ff2424;
}
#app-toaster .icon-type i.info-icon {
    color: #fff;
}
#app-toaster.error .progress-container .progress-bar {
    background-color: #ff2424;
}
#app-toaster.success .progress-container .progress-bar {
    background-color: #13a765;
}
#app-toaster:hover {
    transform: translateX(0);
}
#app-toaster.show-a {
    animation-name: slide-app-toaster-a;
}
#app-toaster.show-b {
    animation-name: slide-app-toaster-b;
}
#app-toaster.clicked {
    transform: translateX(calc(-100% - 20px - 5px));
    animation: none;
}

#night-mode-blender {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: scale(0);
    background-color: rgb(233, 233, 233);
    transition:
        transform var(--mmn-blender-transition-duration),
        height var(--mmn-blender-transition-duration),
        width var(--mmn-blender-transition-duration);
    z-index: 1100;
}
#night-mode-blender.blend {
    transform: scale(100);
}
#night-mode-blender.end-transition {
    transition: none;
    width: 100%;
    height: 100%;
    transform: scale(100);
    border-radius: 0;
}

@keyframes slide-app-toaster-a {
    0% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
}
@keyframes slide-app-toaster-b {
    0% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px - 5px));
    }
}
@keyframes progress-bar-running-a {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@keyframes progress-bar-running-b {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@keyframes ring-notification-a {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg) scale(1.3);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
@keyframes ring-notification-b {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg) scale(1.3);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
@keyframes realtime-mode-display {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/*# sourceMappingURL=global.css.map */
