/* @rules
normal - regular
bold - bold
500 - medium
300 - light
100 - thin
*/
/* =================================================== */
/* ==================== Poppins ====================== */
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/poppins/poppins-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Work Sans ==================== */
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans';
    src: url('/styles/fonts/worksans/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Roboto ==================== */
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/roboto/roboto-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
#notifs-board {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    box-shadow: 0 0 10px 0px lightgray;
    background-color: #fff;
    width: 350px;
    height: calc(100vh - 60px - 5px - 30px);
    min-height: 300px;
    cursor: auto;
    z-index: 200;
}
#notifs-board.active {
    display: block;
}
#notifs-board .notifs-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.278);
}
#notifs-board .notifs-content {
    height: 100%;
    position: relative;
    z-index: 202;
    background-color: #fff;
    border-radius: 5px;
}
#notifs-board .notifs-content .title-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    column-gap: 20px;
    position: relative;
    z-index: 202;
}
#notifs-board .notifs-content .title-box .close-btn {
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 0 2px #909090;
    background-color: #909090;
}
#notifs-board .notifs-content .title-box .close-btn i {
    font-size: 1.7rem;
    color: #fff;
}
#notifs-board .notifs-content .title-box .close-btn:hover {
    transform: scale(1.1);
}
#notifs-board .notifs-content .title-box .title {
    font-size: 1.1rem;
    font-weight: bold;
}
#notifs-board .notifs-content .title-box .details-btn {
    display: block;
    transition: transform 0.2s;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
#notifs-board .notifs-content .title-box .details-btn:hover {
    transform: scale(1.2);
}
#notifs-board .notifs-content .nav-tabs-list {
    display: flex;
    border-bottom: 2px rgba(211, 211, 211, 0.4) solid;
    padding: 0 35px;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 5px 15px;
    font-size: 0.9em;
    background-color: transparent;
    position: relative;
    opacity: 0.6;
    font-size: 1rem;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab .count {
    padding: 0px 5px;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: lightgray;
    color: #333;
    font-weight: normal;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab::after {
    content: '';
    display: none;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab:hover {
    background-color: rgba(211, 211, 211, 0.49);
    opacity: 1;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab.active {
    font-weight: bold;
    opacity: 1;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab.active .count {
    background-color: #333;
    color: #fff;
}
#notifs-board .notifs-content .nav-tabs-list .nav-tab.active::after {
    display: block;
}
#notifs-board .notifs-content .notifs-scroller {
    display: none;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px - 5px - 30px - 95px);
    overflow-y: auto;
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar {
    background-color: transparent;
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.333);
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
}
#notifs-board .notifs-content .notifs-scroller::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 10px;
}
#notifs-board .notifs-content .notifs-scroller:hover::-webkit-scrollbar-thumb {
    background-color: #999999;
}
#notifs-board .notifs-content .notifs-scroller.active {
    display: flex;
}
#notifs-board .notifs-content .notifs-scroller .notifs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#notifs-board .notifs-content .notifs-scroller .notifs .spinner {
    margin: 0 auto;
    margin-top: 30px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .empty-message,
#notifs-board .notifs-content .notifs-scroller .notifs .error-message {
    font-size: 1rem;
    width: 100%;
    padding: 0 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .empty-message i,
#notifs-board .notifs-content .notifs-scroller .notifs .error-message i {
    color: inherit;
}
#notifs-board .notifs-content .notifs-scroller .notifs .empty-message {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .error-message {
    color: #ff2424;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif {
    width: 100%;
    padding: 0 35px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif:not(:nth-of-type(1)) .notif-content {
    border-top: 1px lightgray solid;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif.is-new {
    background-color: rgba(255, 214, 101, 0.2);
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content {
    padding: 10px 0 15px;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content .title {
    font-size: 0.9em;
    width: 100%;
    font-weight: 500;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content .time-ago {
    font-size: 0.85em;
    color: #909090;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif .notif-content .notif-type {
    background-color: #333;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 0.85em;
}
#notifs-board .notifs-content .notifs-scroller .notifs:hover .notif {
    opacity: 0.5;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif:hover {
    opacity: 1;
}
#notifs-board .notifs-content .notifs-scroller .notifs .notif:hover .title {
    font-weight: bold;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn {
    display: none;
    justify-content: center;
    font-size: 0.9rem;
    margin: 10px 0 5px;
    transition: transform 0.2s;
    color: #e68500;
    cursor: pointer;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn .spinner {
    height: 20px;
    width: 20px;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn:hover {
    text-decoration: underline;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn:active {
    transform: scale(0.9);
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.error,
#notifs-board .notifs-content .notifs-scroller .load-more-btn.info {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    cursor: auto;
    pointer-events: none;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.error {
    color: #ff2424;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.info {
    color: #909090;
}
#notifs-board .notifs-content .notifs-scroller .load-more-btn.active {
    display: flex;
}
@media only screen and (max-width: 700px) {
    #notifs-board {
        width: 290px;
        height: calc(100vh - 60px - 5px - 30px - 70px);
    }
    #notifs-board .notifs-content .title-box .close-btn {
        position: static;
    }
    #notifs-board .notifs-content .nav-tabs-list {
        padding: 0 20px;
    }
    #notifs-board .notifs-content .nav-tabs-list .nav-tab {
        font-size: 0.9rem;
    }
    #notifs-board .notifs-content .notifs-scroller {
        height: calc(100vh - 60px - 5px - 30px - 165px);
    }
    #notifs-board .notifs-content .notifs-scroller .notifs .notif {
        font-size: 0.9rem;
        padding: 0 20px;
    }
}

/*# sourceMappingURL=notification.css.map */
