/* @rules
normal - regular
bold - bold
500 - medium
300 - light
100 - thin
*/
/* =================================================== */
/* ==================== Poppins ====================== */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Work Sans ==================== */
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Roboto ==================== */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto light';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
#page-main {
    padding: 10px 50px 30px;
}
#page-main .user-actions-and-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page-main .user-actions-and-logout .user-actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
#page-main .user-actions-and-logout .user-actions .user-action {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #18181b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
}
#page-main .user-actions-and-logout .user-actions .user-action i {
    display: flex;
    font-size: 0.9rem;
    color: inherit;
}
#page-main .user-actions-and-logout .user-actions .user-action.set-note-password {
    color: #fff;
    background-color: #ff2424;
}
#page-main .user-actions-and-logout .user-actions .user-action.set-note-password i {
    color: #fff;
}
#page-main .user-actions-and-logout .user-actions .user-action.set-note-password:hover {
    outline: 2px #ff2424 solid;
}
#page-main .user-actions-and-logout .user-actions .user-action.remove-note-password {
    color: #ff2424;
    background-color: #fff;
}
#page-main .user-actions-and-logout .user-actions .user-action.remove-note-password.on-progress {
    opacity: 0.6;
    pointer-events: none;
}
#page-main .user-actions-and-logout .user-actions .user-action.remove-note-password i {
    color: #ff2424;
}
#page-main .user-actions-and-logout .user-actions .user-action.remove-note-password:hover span {
    text-decoration: underline;
}
#page-main .user-actions-and-logout .user-actions .user-action.remove-note-password .spinner {
    height: 20px;
    width: 20px;
}
#page-main .user-actions-and-logout .logout-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    background-color: #fff;
    padding: 3.5px 10px;
    border: 1.5px #ff2424 solid;
    border-radius: 15px;
    font-size: 0.9rem;
    color: #ff2424;
    transition: background-color 0.2s;
}
#page-main .user-actions-and-logout .logout-btn .spinner {
    height: 20px;
    width: 20px;
}
#page-main .user-actions-and-logout .logout-btn i {
    display: flex;
    color: #ff2424;
    font-size: 1.2rem;
    transform: translate(2px, 0.5px);
}
#page-main .user-actions-and-logout .logout-btn.on-progress {
    opacity: 0.6;
    pointer-events: none;
}
#page-main .user-actions-and-logout .logout-btn:hover {
    background-color: #ff2424;
    color: #fff;
}
#page-main .user-actions-and-logout .logout-btn:hover i {
    color: #fff;
}
#page-main .notes {
    margin-top: 20px;
}
#page-main .notes .note-container .note-editor-title input {
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
}
#page-main .notes .note-container .note-editor-title input::placeholder {
    color: #909090;
}
#page-main .notes .note-container .note-editor-author {
    margin-top: 5px;
}
#page-main .notes .note-container .note-editor-author input {
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
}
#page-main .notes .note-container .note-editor-author input::placeholder {
    color: #909090;
}
#page-main .notes .note-container .note-editor-board {
    margin-top: 5px;
}
#page-main .notes .note-container .note-editor-board .note-editor-container {
    height: 100%;
    width: 100%;
}
#page-main .notes .note-container .note-editor-board .note-editor-container .note-editor-wrapper {
    display: grid;
    max-height: auto;
    overflow-y: auto;
}
#page-main
    .notes
    .note-container
    .note-editor-board
    .note-editor-container
    .note-editor-wrapper
    .replicated-value-box,
#page-main
    .notes
    .note-container
    .note-editor-board
    .note-editor-container
    .note-editor-wrapper
    .note-editor {
    grid-area: 1/1/2/2;
    padding: 10px;
    font-size: 1rem;
    height: 100%;
    overflow: hidden;
}
#page-main
    .notes
    .note-container
    .note-editor-board
    .note-editor-container
    .note-editor-wrapper
    .note-editor {
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    white-space: pre-line;
    resize: none;
}
#page-main
    .notes
    .note-container
    .note-editor-board
    .note-editor-container
    .note-editor-wrapper
    .replicated-value-box {
    content: attr(data-replicated-value);
    white-space: pre-wrap;
    visibility: hidden;
}
#page-main .notes .note-container .note-editor-board .note-editor-container .letters-count {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #909090;
    line-height: 1;
    padding-right: 5px;
    margin-top: 5px;
}
#page-main .notes .note-container .note-editor-board .useful-actions {
    display: flex;
    column-gap: 5px;
    width: 100%;
    margin-top: 5px;
}
#page-main .notes .note-container .note-editor-board .useful-actions .action {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #18181b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
}
#page-main .notes .note-container .note-editor-board .useful-actions .action i {
    display: flex;
    font-size: 0.9rem;
    color: inherit;
}
#page-main .notes .note-container .note-editor-board .useful-actions .action:hover {
    outline: 2px #18181b solid;
}

#set-note-password-modal .modal-dialog .modal-content .modal-header h2 {
    font-weight: bold;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group label {
    font-size: 0.9rem;
    padding-left: 5px;
    font-weight: bold;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .input-wrapper {
    position: relative;
    margin: 3px 0;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .input-wrapper input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1.5px #909090 solid;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .input-wrapper
    input:hover {
    outline: 1px gray solid;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .input-wrapper
    input:focus {
    border-color: gray;
    border-left-width: 5px;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .input-wrapper
    .input-actions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.15s;
    cursor: pointer;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .input-wrapper
    .input-actions:hover {
    transform: translateY(-50%) scale(1.1);
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .input-wrapper
    .input-actions
    i {
    display: flex;
    font-size: 1.2rem;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .input-wrapper
    .input-actions
    .inactive {
    display: none;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .helper-text {
    font-style: italic;
    padding-left: 10px;
    margin-top: 2px;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-body
    .form-group
    .helper-text
    .helper-text-item {
    color: #919191;
    font-size: 0.9rem;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .message {
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding-left: 5px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .message i {
    display: flex;
    color: inherit;
    font-size: inherit;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .message.warning {
    color: #ff2424;
    background-color: #ffdada;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .message.success {
    color: #00a149;
    background-color: #b5ffdd;
}
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .message.warning,
#set-note-password-modal .modal-dialog .modal-content .modal-body .form-group .message.success {
    padding: 5px 10px;
    margin-top: 10px;
}
#set-note-password-modal .modal-dialog .modal-content .modal-footer .modal-close-btn,
#set-note-password-modal .modal-dialog .modal-content .modal-footer .modal-save-change-btn {
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px white solid;
}
#set-note-password-modal .modal-dialog .modal-content .modal-footer .modal-close-btn {
    background-color: #ff2424;
    color: #fff;
    border: 2px white solid;
}
#set-note-password-modal .modal-dialog .modal-content .modal-footer .modal-close-btn:hover {
    outline: 2px #ff2424 solid;
}
#set-note-password-modal .modal-dialog .modal-content .modal-footer .modal-save-change-btn {
    background-color: #f0f0f0;
    color: #18181b;
    border: 2px white solid;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-footer
    .modal-save-change-btn.on-progress {
    opacity: 0.6;
    pointer-events: none;
}
#set-note-password-modal .modal-dialog .modal-content .modal-footer .modal-save-change-btn:hover {
    text-decoration: underline;
}
#set-note-password-modal
    .modal-dialog
    .modal-content
    .modal-footer
    .modal-save-change-btn
    .spinner-border {
    height: 1.5rem;
    width: 1.5rem;
}

/*# sourceMappingURL=home-page.css.map */
