/* @rules
normal - regular
bold - bold
500 - medium
300 - light
100 - thin
*/
/* =================================================== */
/* ==================== Poppins ====================== */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Work Sans ==================== */
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/worksans/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
/* =================================================== */
/* ==================== Roboto ==================== */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto light';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
#page-main {
    padding: 0 100px;
}
#page-main .type-password-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}
#page-main .type-password-section .form-group {
    margin-top: 20px;
    width: 100%;
    border-bottom: 1.5px #d9d9d9 solid;
}
#page-main .type-password-section .form-group .input-wrapper {
    position: relative;
    margin: 3px 0;
    width: 100%;
    margin-bottom: 7px;
}
#page-main .type-password-section .form-group .input-wrapper input {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.1rem;
}
#page-main .type-password-section .form-group .input-wrapper input:focus + .input-animation {
    transform: scaleX(1);
}
#page-main .type-password-section .form-group .input-wrapper .input-animation {
    width: 100%;
    border-bottom: 1.5px gray solid;
    transform: scaleX(0);
    transition: transform 0.2s;
    position: absolute;
    bottom: -8.5px;
    left: 0;
}
#page-main .type-password-section .form-group .input-wrapper .input-placeholder {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #909090;
}
#page-main .type-password-section .form-group .input-wrapper .input-actions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.15s;
    cursor: pointer;
}
#page-main .type-password-section .form-group .input-wrapper .input-actions:hover {
    transform: translateY(-50%) scale(1.1);
}
#page-main .type-password-section .form-group .input-wrapper .input-actions i {
    display: flex;
    font-size: 1.2rem;
}
#page-main .type-password-section .form-group .input-wrapper .input-actions .inactive {
    display: none;
}
#page-main .type-password-section .input-message {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #ff2424;
    margin-top: 5px;
    font-weight: 500;
    font-size: 0.9rem;
}
#page-main .type-password-section .input-message i {
    font-size: inherit;
    color: inherit;
}
#page-main .type-password-section .submit-btn {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: bold;
    margin-top: 20px;
    border: 2px #333 solid;
    background-color: white;
    transition:
        background-color 0.2s,
        color 0.2s;
}
#page-main .type-password-section .submit-btn .spinner {
    height: 24px;
    width: 24px;
}
#page-main .type-password-section .submit-btn:hover {
    background-color: #333;
    color: #fff;
}
#page-main .type-password-section .submit-btn.on-progress {
    opacity: 0.6;
    pointer-events: none;
}
#page-main .type-password-section .sign-in-message {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    color: #ff2424;
    background-color: #ffdddd;
    font-weight: 500;
    line-height: 28px;
    margin-top: 30px;
}
#page-main .type-password-section .sign-in-message i {
    display: flex;
    color: inherit;
    font-size: inherit;
}

/*# sourceMappingURL=sign-in-page.css.map */
