<header class="page-header">
    <a class="app-logo-container" href="/">
        <h2 class="app-title">MemoNote.</h2>
    </a>

    <div class="right-side-menu">
        <a href="/menu/about" class="menu-item">About</a>
    </div>
</header>
