<header class="page-header">
    <div class="app-logo-container">
        <a class="app-logo-wrapper" href="/">
            <h2 class="app-title">MemoNote.</h2>
        </a>
        <div id="general-app-status" hidden>
            <i class="bi bi-check-circle-fill"></i>
        </div>
    </div>

    <div class="right-side-menu">
        <a href="/menu/about" class="menu-item">About</a>
    </div>
</header>