<header id="page-header">
    <div class="app-logo-container">
        <a class="app-logo-wrapper" href="/">
            <h2 class="app-title">MemoNote.</h2>
        </a>
        <div id="general-app-status" class="inactive">
            <i class="success-icon bi bi-check-circle-fill"></i>
            <i class="error-icon bi bi-x-circle-fill"></i>
        </div>
    </div>

    <div class="right-side-menu">
        <div class="menu-item realtime-mode-display inactive" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="In Realtime Mode">
            <div class="display-icon">
                <i class="bi bi-arrow-repeat"></i>
            </div>
        </div>
        <a href="/menu/about" class="menu-item">About Us</a>
        <div class="menu-item notification">
            <button class="notification-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications">
                <i class="bi bi-bell-fill"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span class="count">0</span>
                    <span class="visually-hidden">Unread Messages</span>
                </span>
            </button>
            <div class="notifs">
                <div class="notif">
                    <h2 class="title">Password has been changed by user</h2>
                    <div class="d-flex column-gap-2 mt-2">
                        <span class="time-ago">12h ago</span>
                        <span class="notif-type">Pasword set</span>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <span></span>
                        <button class="read-btn">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>